.tabs_navbar {
    display: flex;
    align-items: center;
    background-color: lightgray;
    color: #fff;
}

.nav_list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

.navbar-link{
    float: left;
    height: 100%;
}


.navbar-link a {
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    color: darkgray;
    text-decoration: none;
    margin-right: 16px;
    font-size: 15px;
    color:black;
}

.deleteTap_btn{
    position: absolute;
    display:none;
    background-color: lightgray;
    outline: none;
    border: none;
    top: 0;
}

.navbar-link:hover .deleteTap_btn{ 
    display:block;
}


.mainTitle{
    font-weight: bold;
}

.budget{
    margin-left: 1050px;
}

.searchBar{
    height: 20px;
    width: 250px;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: inset;
    outline: none;
	border: none;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 15px;
}
